/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Roboto Slab", serif;
  color: #777777;
  text-align: center;
  margin: 0;
  line-height: 30px;
  font-weight: 400px;
}

section {
  padding: 96px 0;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.section-title {
  font-size: 40px;
  font-family: "Signika", sans-serif;
}

.section-subtitle {
  font-size: 18px;
  font-family: "Signika", sans-serif;
}

.wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

/* Top */
.top {
  background-image: url("../../images/Background Image.png");
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100vh;
  min-height: 500px;
  padding: 0;
}

.row-upper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.logo {
  -ms-flex: 50% 0;
      flex: 50% 0;
  text-align: left;
  margin-left: 100px;
  color: #fed136;
  font-family: "Great Vibes", cursive;
  font-size: 26px;
}

.navigation {
  -ms-flex: 0 50%;
      flex: 0 50%;
}

.navigation ul {
  list-style: none;
}

.navigation li {
  display: inline-block;
  margin-right: 36px;
}

.navigation li a {
  color: #ffffff;
}

.row-header {
  position: relative;
  -ms-flex-positive: 2;
      flex-grow: 2;
}

.splash {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.page-title {
  font-size: 75px;
  letter-spacing: -2px;
  color: #ffffff;
  font-family: "Signika", sans-serif;
  text-align: center;
  font-weight: 400;
}

.page-subtitle {
  font-size: 24px;
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  color: #ffffff;
}

.btn {
  display: block;
  color: #ffffff;
  background: #fed136;
  width: 183px;
  margin: auto;
  padding: 14px;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  border-color: #fed136;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

/* services */
.services {
  height: 100vh;
}

.our-services {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.our-services p {
  font-style: italic;
}

.icons {
  padding-top: 79px;
  -ms-flex-positive: 2;
      flex-grow: 2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.services-col {
  -ms-flex: 0 0 33%;
      flex: 0 0 33%;
  padding: 0 12px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: block;
}

.icon {
  margin: auto;
}

.icon i {
  line-height: 66px;
  font-size: 36px;
  height: 66px;
  width: 66px;
  border-radius: 50%;
  color: #fed136;
  border-color: #fed136;
  border-style: solid;
  border-width: 3px;
}

/* Portfolio */
.portfolio {
  background: #f7f7f7;
}

.our-portfolio {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.our-portfolio p {
  font-style: italic;
}

.portfolio-row {
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.portfolio-col {
  -ms-flex: 0 0 33%;
      flex: 0 0 33%;
  padding: 0 12px;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  display: block;
}

.skill-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-picture {
  overflow: hidden;
  width: 290px;
  height: 300px;
  text-align: center;
  margin-top: 24px;
}

.portfolio-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-text h3 {
  margin-top: 0;
}

.portfolio-text {
  background-color: #ffffff;
}

/* Footer */
footer {
  min-height: 100px;
}

.page-footer {
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.copyright {
  color: #555555;
  -ms-flex-positive: 1;
      flex-grow: 1;
  text-align: left;
}

.social-links {
  -ms-flex-positive: 2;
      flex-grow: 2;
}

.social-links ul {
  list-style-type: none;
}

.social-links li {
  font-size: 0;
  display: inline-block;
}

footer i {
  font-size: 30px;
  background: #222222;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  padding-top: 15px;
}

.fa-twitter:hover {
  background: #00aced;
}

.fa-facebook-f:hover {
  background: #3b5998;
}

.fa-pinterest-p:hover {
  background: #cb2028;
}

.fa-google-plus-g:hover {
  background: #da2713;
}

/* Media */
@media (max-width: 767px) {
  .container {
    max-width: 1140px;
  }
  .navigation li {
    display: block;
    margin-right: 36px;
  }
  .page-title {
    font-size: 64px;
  }
  .icons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .portfolio-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .social-links li {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */