/* Variables */
$font-main: 'Roboto Slab', serif;
$font-titles: 'Signika', sans-serif;
$font-logo: 'Great Vibes', cursive;
$font-page-header: 'Cormorant Garamond', serif;

$color-light: #ffffff;
$color-main: #777777;
$color-dark: #222222;
$color-highlight: #fed136;
$color-copyright: #555555;
